extends layout

block head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Document

  link(rel='stylesheet', href='/stylesheets/style.css')


block content
  .container.my-4
    .row
      .col-12.col-lg-8.offset-lg-2.text-justify
        .card.my-5
          .card-header
            | Why is it called Jakarnotator ?
          .card-body
            .card-text.px-md-5
              p
                | It is simply the contraction of the purpose of the project 
                em Annotator
                |  and 
                em Jakarto
                | .
        
        .card.my-5
          .card-header
            | What is Jakarto ?
          .card-body
            .card-text.px-md-5
              p
                | Jakarto is a startup from Montreal (Qc, Canada). It aims to collect urban environment geodata thanks to cutting-edge technologies (lidars, 4K cameras).
              p
                | Jakarto is propulsed by JLR, a company which analyzes data from millions of properties all over North America and transforms it into business intelligence for financial institutions, government agencies, private companies and real estate professionals.
        .card.my-5
          .card-header
            | Why did we build a such tool ?
          .card-body
            .card-text.px-md-5
              p We collect a huge amount of data each day with our trucks. We then extract valuable information for our customers. We needed an automatic, robust and efficient data processing system.
              p Today, one of the best solutions is using machine learning and deep learning. These algorithms need tons of groundtruth data to automatically extract the concepts of cars, trees, people, buildings, traffic signs or other interesting objects during a step referred to as: training.
              p The more we annotate images, the more the training becomes efficient. Once this is achieved; we use the data model to detect real object locations with the end goal of selling this service.
              p Our algorithms have been training on well known public datasets like COCO and Cityscape. Because our data was of such a high quality compared to the training dataset the results were good, but not ideal. Because of this, we needed to train the model yet again using our data. That meant annotating thousands of images with our own classes.
              p Because we didn't find a tool to annotate our data as fast as we wanted (understanding price, data privacy, data ownership and annotation-style (instance segmentation for us)), we decided to build our own. Here is Jakarnotator.

        .card.my-5
          .card-header
            | Why did we open source it ?
          .card-body
            .card-text.px-md-5
              ul
                li Because Machine Learning and Deep Learning are so trendy today, 
                li because of the lack of public 
                  span.text-muted (and almost free)
                  |  tools to establish a groundtruth, 
                li because we used open source IA algorithms as inspiration for free 
                  span.text-muted (resulting of years of research), 
                li because we cannot build a such service alone 
                  span.text-muted with induced knowledge acquisition bottleneck
                li and because nowadays we make business over it, 
              p For all of those raisons, we decided to open source Jakarnotator to help the data science community. This is our kind of payback for thanks all the people/company which build things. Jakarnotator is our way to contribute and serve this community.
        
        
        .card.my-5
          .card-header
            | Responsabilities
          .card-body
            .card-text.px-md-5
              p We decline all responsability of the usage of Jakarnotator to establish your training. All is good if you make business with the annoted data, but we are not responsable if your detection fails because of your training or erroned training dataset.
        
        
        .card.my-5
          .card-header
            | Thanks
          .card-body
            .card-text.px-md-5
              p We released the first version of Jakarnotator when it was still raw. Your advices, tips, expertise, fixes, usecase and feedback help us to provide this easy-to-use annotation tool we build together.
              p We want to thanks all the contributors and people we help to build Jakarnotator.
              ul
                li the community
                  a(href='https://github.com/jakarto3d/jakarnotator/stargazers', target='_blank') the community
                  p Without you, the community, many bugs will not be fixed yet, and many features will never been introduced. Thanks for your contributions! Keep going and share!
                li 
                  a(href='https://www.jakarto.com', target='_blank') Jakarto
                  p Thanks for your support.
                li 
                  | Loic Messal (
                  a(href='https://github.com/tofull', target='_blank').text-dark
                    i.fab.fa-github
                    |  tofull
                  | ,
                  a(href='https://twitter.com/_Tofull', target='_blank').text-dark
                    i.fab.fa-twitter
                    |  _Tofull
                  | )
                  p He is the initiator of Jakarnotator, and futhermore, the author of the initial raw version which has been used to make our first steps. He is also the guy who insists for Jakarto to entering in the open source community. Thanks to him !
        
