extends layout

block head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Administration page

  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js')
  link(rel='stylesheet', href='/stylesheets/style.css')


block content
  .container-fluid.mt-4#app
    .row
      .col-12.col-lg-6.offset-lg-3
        p.text-center Legend:
        div.d-flex-inline.justify-content-around.text-center
            button.btn.btn-danger.mx-2.mr-auto Not yet implemented
            button.btn.btn-warning.mx-2.mr-auto Coming soon
              span.small.text-muted  (a POC has been done)
            button.btn.btn-success.mx-2.mr-auto Working

    .row
      .col-lg-6.offset-lg-3
        .card-deck.my-5
          .card
            .card-body
              h5.card-title Annotation list manager
              p.card-text.px-lg-5
                | Manage the annotation list, because your classes are yours.
            .card-footer.text-center
              button.btn.btn-danger Go to the manager
          .card
            .card-body
              h5.card-title COCO-format masks generator
              p.card-text.px-lg-5
                | Export the masks in COCO-format to train your machine learning algorithms.
              p.card-text.px-lg-5.text-muted
                | Status : 
                span {{ msg }}
            .card-footer.text-center
                .my-1
                  button.btn.btn-success.my-2.my-xl-0#generate_mask(:disabled="available == false") 
                    | Generate masks
                    //- TODO(tofull) Remove this text-danger once fix process (async.cargo at least)
                    span.text-danger  (limited)
                .my-1
                  //- TODO(tofull) Change this hardcoded link to a call api.
                  a(target="_blank", href="/data/instances_shape_jakartotrain2018.json")
                    button.btn.btn-success.my-2.my-xl-0 Download COCO annotations only
                .my-1
                  a(target="_blank", href="/api/v1/process/download")
                    button.btn.btn-block.btn-success.my-2.my-xl-0(style="white-space:normal;") Download COCO annotations + images

        .card-deck.my-5
          .card
            .card-body
              h5.card-title Statistics page
              p.card-text.px-lg-5
                | Check the progression of your annotations.
            .card-footer.d-flex.justify-content-around
              a(href="/stats/")
                button.btn.btn-success Go to the statistics page
          .card
            .card-body
              h5.card-title Traffic dashboard
              p.card-text.px-lg-5
                | Analyse your incoming traffic. Jakarnotator collects some metrics thanks to Prometheus.
              p.card-text.px-lg-5
                | We designed a Grafana dashboard for you.
              p.card-text.text-center.text-muted.small only available if grafana is deployed
            .card-footer
              .d-flex.justify-content-around
                a(target="_blank", href="/grafana/d/default-dashboard/jakarnotator_dashboard?orgId=1")
                  button.btn.btn-success Go to your traffic dashboard
              .text-muted.text-center.mt-1
                | (username:
                span.text-dark  admin
                | , password:
                span.text-dark  admin
                | )

        .card-deck.my-5
          .card.border-info
            .card-body.text-center
              h5.card-title Thanks Jakarto
            .card-footer.d-flex.justify-content-around
              a(target="_blank", href="https://twitter.com/intent/tweet?text=Thanks%20Jakarto%20for%20this%20open%20source%20image%20annotation%20tool%20%21&related=Jakarto3D%3A_Tofull&via=Jakarto3D&hashtags=Jakarnotator")
                button.btn.btn-info Say a big thanks to Jakarto.


  script(src='/javascripts/script_admin.js')
