extends layout

block head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Document
  link(rel='stylesheet', href='https://unpkg.com/leaflet@1.3.1/dist/leaflet.css', integrity='sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==', crossorigin='')
  // Make sure you put this AFTER Leaflet's CSS
  script(src='https://unpkg.com/leaflet@1.3.1/dist/leaflet.js', integrity='sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==', crossorigin='')
  script(src='https://npmcdn.com/leaflet.path.drag/src/Path.Drag.js')
  script(src='http://leaflet.github.io/Leaflet.Editable/src/Leaflet.Editable.js')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  link(rel='stylesheet', href='http://static.jstree.com/3.0.0/assets/dist/themes/default/style.min.css')
  script(src='http://static.jstree.com/3.0.0/assets/dist/jstree.min.js')
  script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js', integrity='sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=', crossorigin='anonymous')
  script(src='/javascripts/lib/jquery.ui.touch-punch.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js')
  link(rel='stylesheet', href='/stylesheets/style.css')


block content
  div.container-fluid
    div.row
      h1= title
      p Welcome to #{title}. The dataset annotator tool designed by Loïc Messal for Jakarto.
  div.container-fluid
    div#main.row.equal
      div.col-sm-8
        #map
      div.col-sm-4
        div
          p
            | Selected label :
            span#selected
        #tree
          ul
    div.row

      input#next(type='button', value='next image')
      input#previous(type='button', value='previous image')
      input#generate_mask(type='button', value='Generate mask')
      input#help_btn(type='button', value='help')
      input#expand_all(type='button', value='Expand All')
      input#search(type='text', placeholder="Search an image by name")
      a(href="/stats")
        | Stat page
      script(src='/javascripts/script.js')

  #help.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title Keyboard Shortcut
        .modal-body
          table
            tr
              td
                p
                  | General
            tr
              td(width='80')
                span.label.label-default ?
              td(width='200') Help
            tr
              td
                p
                  br
                  | In classic mode
            tr
              td(width='60')
                span.label.label-default F1
              td(width='200') Next image
              td(width='60')
                span.label.label-default F2
              td(width='200') Previous image
            tr
              td
                span.label.label-default dbl click on polygon
              td Enter / Quit edition mode
              td
                span.label.label-default ²
              td Enter edition mode
            tr
              td
                p
                  br
                  | In edition mode
            tr
              td
                span.label.label-default ESC
              td Save current polygon and stop edition mode
            tr
              td
                span.label.label-default ²
              td Save current polygon and start a new one
            tr
              td(width='60')
                span.label.label-default F1
              td(width='200') Save polygon and go to next image
              td(width='60')
                span.label.label-default F2
              td(width='200') Save polygon and go to previous image
            tr
              td
                span.label.label-default ctrl + click
              td Delete polygon
