doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.10/css/all.css', integrity='sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js', integrity='sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=', crossorigin='anonymous')
    script(src='/javascripts/lib/jquery.ui.touch-punch.min.js')
    link(rel='stylesheet', href='/stylesheets/default_style.css')
    block head

  body
    block nav
      nav.navbar.navbar-inverse.navbar-static-top
        .container-fluid
          .navbar-header
            a.navbar-brand(href='/') Jakarnotator
          ul.nav.navbar-nav
            li
              a(href='/') Editor
            li
              a(href='/stats/') Stats

    block content

    block footer
      footer.footer
        .container-fluid.text-center
            span
              | Propulsed by 
              a(href="https://www.jakarto.com") Jakarto 
              | with 
              i.fas.fa-heart
              | .
