doctype html
html
  head
    title= title
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')

    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.10/css/all.css', integrity='sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg', crossorigin='anonymous')

    // bootstrap
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm', crossorigin='anonymous')

    // jquery UI
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js', integrity='sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=', crossorigin='anonymous')
    script(src='/javascripts/lib/jquery.ui.touch-punch.min.js')

    // lodash
    script(src='https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js')

    // vue.js
    script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')

    // vue-bootstrap
    //- link(type='text/css', rel='stylesheet', href='//unpkg.com/bootstrap/dist/css/bootstrap.min.css')
    link(type='text/css', rel='stylesheet', href='//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css')
    script(src='//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js')

    // custom
    link(rel='stylesheet', href='/stylesheets/default_style.css')

    block head

  body
    block header
      header
        block nav
          nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top.w-100
            .navbar-header
              a.navbar-brand(href='/') Jakarnotator
              button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            .collapse.navbar-collapse.justify-content-between#navbarNavDropdown
              .navbar-nav
                a.nav-item.nav-link(href='/') Editor
                a.nav-item.nav-link(href='/validator') Validator
              .navbar-nav
                a.nav-item.nav-link(href='/admin') Admin
                a.nav-item.nav-link(href='/about') About
                a.nav-item.nav-link(target="_blank", href='https://github.com/jakarto3d/jakarnotator').d-flex.align-items-center.ml-lg-5
                  i.fab.fa-github  Source
                  a(target="_blank", href="https://gitHub.com/jakarto3d/jakarnotator/stargazers/").d-flex.align-items-center
                    img(src="https://img.shields.io/github/stars/jakarto3d/jakarnotator.svg?style=social&label=Stars", alt="Stars").img-fluid

    block content

    block footer

      .footer_compensator
      footer.footer
        .container-fluid.text-center
            span
              | Propulsed by 
              a(href="https://www.jakarto.com") Jakarto 
              | with 
              i.fas.fa-heart
              | .

      script(src='/javascripts/default.js')