#help.modal.fade
    .modal-dialog
        .modal-content
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Keyboard Shortcut
        .modal-body
            table
            tr
                td
                p
                    | General
            tr
                td(width='80')
                span.label.label-default ?
                td(width='200') Help
            tr
                td
                p
                    br
                    | In classic mode
            tr
                td(width='60')
                span.label.label-default F1
                td(width='200') Next image
                td(width='60')
                span.label.label-default F2
                td(width='200') Previous image
            tr
                td
                span.label.label-default dbl click on polygon
                td Enter / Quit edition mode
                td
                span.label.label-default ²
                td Enter edition mode
            tr
                td
                p
                    br
                    | In edition mode
            tr
                td
                span.label.label-default ESC
                td Save current polygon and stop edition mode
            tr
                td
                span.label.label-default ²
                td Save current polygon and start a new one
            tr
                td(width='60')
                span.label.label-default F1
                td(width='200') Save polygon and go to next image
                td(width='60')
                span.label.label-default F2
                td(width='200') Save polygon and go to previous image
            tr
                td
                span.label.label-default ctrl + click
                td Delete polygon