extends layout

block head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')


block content
  .container-fluid
    h2 Nombre de masques par image
    #mask_par_image
      .container-fluid
        .row
          .col-8.offset-1
            include table-complete-1.vue.pug
          .col-2
            span
              | # images loaded : {{ items.length }}

    hr
    h2 Nombre de masques par catégorie
    #mask_par_categories
      .container-fluid
        .row
          .col-8.offset-1
            include table-complete-1.vue.pug
          .col-2
            span
              | # Total masks : {{ total() }}

  script(src='/javascripts/get_stats.js')