.annotation_class_shape {color: rgb(170, 170, 170) !important;}
.annotation_class_human {color: rgb(173, 99, 99) !important;}
.annotation_class_person {color: rgb(173, 99, 99) !important;}
.annotation_class_vehicle {color: rgb(78, 66, 241) !important;}
.annotation_class_bicycle {color: rgb(78, 66, 241)  !important;}
.annotation_class_car {color: rgb(78, 66, 241)  !important;}
.annotation_class_motorcycle {color: rgb(78, 66, 241)  !important;}
.annotation_class_airplane {color: rgb(78, 66, 241)  !important;}
.annotation_class_bus {color: rgb(78, 66, 241)  !important;}
.annotation_class_train {color: rgb(78, 66, 241)  !important;}
.annotation_class_truck {color: rgb(78, 66, 241)  !important;}
.annotation_class_boat {color: rgb(78, 66, 241)  !important;}
.annotation_class_outdoor {color: rgb(255, 115, 0) !important;}
.annotation_class_trafficLight {color: rgb(255, 115, 0) !important;}
.annotation_class_fireHydrant {color: rgb(255, 115, 0) !important;}
.annotation_class_stopSign {color: rgb(255, 115, 0) !important;}
.annotation_class_parkingMeter {color: rgb(255, 115, 0) !important;}
.annotation_class_bench {color: rgb(255, 115, 0) !important;}
.annotation_class_vegetation {color: rgb(4, 255, 171) !important;}
.annotation_class_tree {color: rgb(4, 255, 171) !important;}
.annotation_class_plant {color: rgb(4, 255, 171) !important;}
.annotation_class_building {color: rgb(0, 110, 6) !important;}
.annotation_class_face {color: rgb(0, 110, 6) !important;}
.annotation_class_window {color: rgb(0, 110, 6) !important;}
.annotation_class_door {color: rgb(0, 110, 6) !important;}
.annotation_class_utility {color: rgb(184, 8, 140) !important;}
.annotation_class_busStop {color: rgb(184, 8, 140) !important;}
.annotation_class_letterBox {color: rgb(184, 8, 140) !important;}
.annotation_class_civil {color: rgb(11, 100, 85) !important;}
.annotation_class_manhole {color: rgb(11, 100, 85) !important;}
.annotation_class_pavement {color: rgb(11, 100, 85) !important;}
.annotation_class_streetLigths {color: rgb(11, 100, 85) !important;}
.annotation_class_pedestrianCrossing {color: rgb(11, 100, 85) !important;}
.annotation_class_default {color: rgb(255, 255, 255) !important;}