#map { height: 800px;}
.annotation_class_signalisation { color:rgb(255, 0, 255) !important;}
.annotation_class_signalisationBlanc { color:rgb(116, 116, 116) !important;}
.annotation_class_signalisationBleu { color:rgb(4, 0, 255) !important;}
.annotation_class_signalisationBrun { color:rgb(107, 50, 3) !important;}
.annotation_class_signalisationJaune { color:rgb(87, 85, 0) !important;}
.annotation_class_signalisationNoir { color:rgb(44, 44, 44) !important;}
.annotation_class_signalisationNomDeRue { color:rgb(43, 41, 184) !important;}
.annotation_class_signalisationOrange { color:rgb(206, 65, 0) !important;}
.annotation_class_signalisationRouge { color:rgb(185, 0, 0) !important;}
.annotation_class_marquage { color:rgb(255, 51, 0) !important;}
.annotation_class_marquageBlanc { color:rgb(213, 213, 238) !important;}
.annotation_class_marquageBleu { color:rgb(4, 0, 255) !important;}
.annotation_class_marquageJaune { color:rgb(210, 212, 58) !important;}
.annotation_class_marquageOrange { color:rgb(255, 72, 0) !important;}
.annotation_class_utilite { color:rgb(34, 151, 122) !important;}
.annotation_class_utiliteAerienne { color:rgb(41, 130, 172) !important;}
.annotation_class_utiliteSouterraine { color:rgb(73, 62, 25) !important;}
.annotation_class_utiliteAeriennePoteau { color:rgb(122, 111, 7) !important;}
.annotation_class_utiliteAeriennePoteauElectrique { color:rgb(0, 185, 209) !important;}
.annotation_class_utiliteAeriennePoteauTelecom { color:rgb(8, 7, 63) !important;}
.annotation_class_utiliteAeriennePoteauMulti { color:rgb(130, 128, 247) !important;}
.annotation_class_utiliteAeriennePyloneElectrique { color:rgb(96, 35, 104) !important;}
.annotation_class_utiliteAerienneCableElectrique { color:rgb(255, 11, 202) !important;}
.annotation_class_utiliteAerienneTransformateur { color:rgb(152, 243, 255) !important;}
.annotation_class_utiliteAerienneAutre { color:rgb(95, 17, 17) !important;}
.annotation_class_utiliteSouterraineRegard { color:rgb(160, 140, 25) !important;}
.annotation_class_utiliteSouterrainePuisard { color:rgb(185, 230, 134) !important;}
.annotation_class_utiliteSouterraineCaniveau { color:rgb(10, 82, 110) !important;}
.annotation_class_vegetation { color:rgb(22, 97, 47) !important;}
.annotation_class_vegetationArbre { color:rgb(36, 66, 22) !important;}
.annotation_class_vegetationArbreFeuillu { color:rgb(90, 167, 19) !important;}
.annotation_class_vegetationArbreConifere { color:rgb(45, 153, 86) !important;}
.annotation_class_vegetationHaie { color:rgb(37, 94, 19) !important;}
.annotation_class_vegetationHaieFeuillu { color:rgb(28, 87, 32) !important;}
.annotation_class_vegetationHaieConifere { color:rgb(44, 156, 40) !important;}
.annotation_class_vegetationSol { color:rgb(119, 115, 50) !important;}
.annotation_class_batiment { color:rgb(187, 66, 50) !important;}
.annotation_class_batimentEnseigne { color:rgb(196, 106, 79) !important;}
.annotation_class_batimentVolume { color:rgb(182, 47, 37) !important;}
.annotation_class_batimentPorte { color:rgb(161, 118, 36) !important;}
.annotation_class_batimentFenetre { color:rgb(82, 172, 59) !important;}
.annotation_class_batimentToit { color:rgb(133, 104, 42) !important;}
.annotation_class_batimentAdresse { color:rgb(66, 23, 50) !important;}
.annotation_class_mobilierUrbain { color:rgb(10, 28, 107) !important;}
.annotation_class_mobilierUrbainBanc { color:rgb(110, 45, 45) !important;}
.annotation_class_mobilierUrbainPoubelle { color:rgb(233, 43, 208) !important;}
.annotation_class_mobilierUrbainAbriBus { color:rgb(30, 149, 153) !important;}
.annotation_class_mobilierUrbainLampadaire { color:rgb(185, 52, 134) !important;}
.annotation_class_mobilierUrbainLampadaireSurPoteauElectrique { color:rgb(80, 129, 23) !important;}
.annotation_class_mobilierUrbainLampadaireSimple { color:rgb(179, 43, 25) !important;}
.annotation_class_mobilierUrbainLampadaireDouble { color:rgb(163, 21, 120) !important;}
.annotation_class_mobilierUrbainLampadaireTriple { color:rgb(18, 163, 182) !important;}
.annotation_class_mobilierUrbainLampadaireQuadruple { color:rgb(236, 228, 108) !important;}
.annotation_class_mobilierUrbainTable { color:rgb(131, 23, 77) !important;}
.annotation_class_mobilierUrbainJeu { color:rgb(58, 55, 194) !important;}
.annotation_class_pieton { color:rgb(151, 146, 76) !important;}
.annotation_class_voiture { color:rgb(128, 0, 0) !important;}
.annotation_class_autre { color:rgb(66, 150, 73) !important;}
.annotation_class_default { color:rgb(0, 0, 0) !important;}