#map { height: 800px;}
.color-default { color:black !important; }
.color-vegetation { color:green !important; }
.color-signalisation { color:red !important; }
.color-human { color:rgb(100, 64, 16) !important; }